/* reset default styles */
* {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0px auto;
    line-height: 1.8;
}

/* container styling for layout */
.container {
    max-width: 800px;
    margin: 2rem auto;
    font-family: Arial, sans-serif;
}

/* otherwise you can't see the svg */
#vis svg {
    margin: 2rem 0;
    border: 1px solid #ccc; 
}
